<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>403331737503-vurql08t7s9not74ofo3oefbv0jbibmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403331737503-vurql08t7s9not74ofo3oefbv0jbibmq</string>
	<key>API_KEY</key>
	<string>AIzaSyCeIuLu_Gad_pvxKNMOHhsBIqczBp0-YVU</string>
	<key>GCM_SENDER_ID</key>
	<string>403331737503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.jav.simone.bbc.iOSHack</string>
	<key>PROJECT_ID</key>
	<string>newshackday-eb793</string>
	<key>STORAGE_BUCKET</key>
	<string>newshackday-eb793.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:403331737503:ios:cb2b32d014423930</string>
	<key>DATABASE_URL</key>
	<string>https://newshackday-eb793.firebaseio.com</string>
</dict>
</plist>